/* Font Weigth */
$light: 300;
$regular: 400;
$bold: 700;

/* Base font styles */
$base-font-family: 'Quicksand', sans-serif;
$base-font-weight: $light;
$base-font-size: 14px;

$text-lg: 22px;
$text-sm: 11px;