.gradient--hero {
  background: #FF5F6D;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #FFC371, #FF5F6D);
  background: -o-linear-gradient(left, #FFC371, #FF5F6D);
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}